html,
body,
#viewDiv{
  padding: 0;
  margin: 3px;
  height: 97%;
}

#modal{
  height: 60%;
  width: 75%;
  background-color: black;
  opacity: 50%;
  margin-left: 250px;
  margin-top: 100px;
  border-radius: 5px;
  color: aliceblue;
  padding: 50px;
  z-index: 1000;
}

#modal h1{
  text-align: center;
}